.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-container{
    display: flex;
    flex-direction: column;
    width: 90vw;
}
.detail-item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}
.details-container{
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(231, 223, 223);
}
.des{
    color: black;
    font-weight: 400;
}
body{
    margin: 100px;
}
.icon{
    margin-left: 10px;
    margin-right: 10px;
}
.about{
    display: flex;
    flex-direction: row;
}
ul {
    list-style-image: url(sqgreen.gif)
  }
table, th, td {
    border:1px solid black;
    text-align: center;

  }

  @media screen and (max-width:768px) {
    .about{
        display: flex;
        flex-direction: column;
    }
    .profile-container{
        display: flex;
        flex-direction: column;
        width: 90vw;
        padding: 10px;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }